<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="icon" href="images/favicon.png" type="image/x-icon">

	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700|Roboto:300,400' rel='stylesheet' type='text/css'>
	
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="static/bootstrap.css">
	<link rel="stylesheet" href="static/component.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<style>
		head,body{
			font-family: 'Montserrat';
			background-image: url('static/backg.jpeg');
    		background-size: 100%;
    		    background-attachment: fixed;

		}
		input[type=file] {
			margin-left: 40%;
			margin-right: 50%;
		    background-color: skyblue;
		    color: white;
		    padding: 14px 10px;
		    border-radius: 4px;
		    cursor: pointer;
		}

		input[type=file]:hover {
		    background-color: white;
		    color: skyblue;
		}
		label {
			font-size: 20px;
		}
	</style>
</head>
<body>
	<center><h1 style="font-size:55px;">Image Play</h1></center>
	<center style="margin-top: 4%;>
	    <div id="content">
	        {% block content %}
	        {% endblock %}
	    </div>
    </center>
</body>
</html>