{% extends "base.html" %}

{% block title %}Image_Play{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
            {{ form }}
            {% csrf_token %}
        <input type="file" name="myfile">Select the image<br>
        Enter number of rows:<br>
        <input type="number" name="Row_pixels"><br>
        Enter number of cols:<br>
        <input type="number" name = "Col_pixels"><br>
        <button type="submit">Upload</button>
    </form>
    {% if uploaded_file_url %}
        <p><a href="{{ uploaded_file_url }}">File uploaded</a></p>
        <p>Rows={{ rows }} and Cols = {{ cols }}</p>
        <form method="post" enctype = "multipart/form-data">
            {{ form }}
            {% csrf_token %}
            <button type="Submit">Convert</button>
        </form>
    {% endif %}
    {% if converting %}
        <p>Converting</p>
    {% endif %}

{% endblock %}