{% extends "base.html" %}

{% block title %}Image_Play{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {{ uploadform.as_p }}
        {% csrf_token %}
        <button type="submit" name = "upload">Upload</button>
    </form>
    {% if uploaded %}
        <div>
            <img src="{{ uploaded_file_url }}">
            <p>cols,rows:{{ reso }}</p>
            {% if ImageReady %}
                <a href="{{ ImageReady }}"><img src="{{ ImageReady }}" href="{{ ImageReady }}"></a>
            {% endif %}
        </div>
        <form method="post" enctype = "multipart/form-data">
            {{ convertform.as_p }}
            {% csrf_token %}
            <button type="Submit" name="convert">Convert</button>
        </form>
    {% endif %}

{% endblock %}